<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Vandroiy</string>
	<key>CodecID</key>
	<integer>8200</integer>
	<key>CodecName</key>
	<string>CX8200</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patch</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>layout3.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MacPeet - Conexant CX8200 for HP ZbooK 15UG4</string>
				<key>Id</key>
				<integer>15</integer>
				<key>Path</key>
				<string>layout15.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Andres ZeroCross for HP Spectre 13-V130NG</string>
				<key>Id</key>
				<integer>21</integer>
				<key>Path</key>
				<string>layout21.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>frankiezdh - Conexant CX8200 for HP Probook 440 G5</string>
				<key>Id</key>
				<integer>23</integer>
				<key>Path</key>
				<string>layout23.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Conexant CX8200 for LG Gram Z990/Z90N</string>
				<key>Id</key>
				<integer>80</integer>
				<key>Path</key>
				<string>layout80.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom CX8200 Layout for HP EliteBook 1030 G2</string>
				<key>Id</key>
				<integer>420</integer>
				<key>Path</key>
				<string>layout420.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Mirone Laptop Patch</string>
				<key>Id</key>
				<integer>3</integer>
				<key>Path</key>
				<string>PlatformsM.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>MacPeet - Conexant CX8200 for HP ZbooK 15UG4</string>
				<key>Id</key>
				<integer>15</integer>
				<key>Path</key>
				<string>Platforms15.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Andres ZeroCross for HP Spectre 13-V130NG</string>
				<key>Id</key>
				<integer>21</integer>
				<key>Path</key>
				<string>Platforms21.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>frankiezdh - Conexant CX8200 for HP Probook 440 G5</string>
				<key>Id</key>
				<integer>23</integer>
				<key>Path</key>
				<string>Platforms23.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Conexant CX8200 for LG Gram Z990/Z90N</string>
				<key>Id</key>
				<integer>80</integer>
				<key>Path</key>
				<string>Platforms80.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Custom CX8200 Platform for HP EliteBook 1030 G2</string>
				<key>Id</key>
				<integer>420</integer>
				<key>Path</key>
				<string>Platforms420.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>HDAConfigDefault</key>
	<array>
		<dict>
			<key>CodecID</key>
			<integer>0x14f12008</integer>
			<key>LayoutID</key>
			<integer>420</integer>
			<key>Device</key>
			<string>0x103C827D</string>
			<key>Model</key>
			<string>HP EliteBook 1030 G2 CX8200</string>
		</dict>
	</array>
	<key>Patches</key>
	<!-- leave as-is, already pasted -->
	<array>
	</array>
	<key>Vendor</key>
	<string>Conexant</string>
</dict>
</plist>
